* {
  font-family: Avenir;
  font-weight: lighter;
}

body {
  background-color: #474747;
}

h2 {
  text-align: center;
  padding-bottom: 1em;
  font-weight: normal;
}

label {
  font-weight: lighter;
}

/* LOGIN PAGES & CREATE OFFER PAGE */
.button {
  width: 100%;
  margin-top: 1em;
  background-color: #76EEC6;
  border-color: #76EEC6;
  color: #474747;
}

.button:hover {
  background-color: #76EEC6;
}

.form-control {
  margin-bottom: 1em;
}

.wrapper {
  left: 0;
  right: 0;
  position: absolute;
  top: 0;
  margin-bottom: 15%;
  height: 85%;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  padding: 2em;
  color: #fff;
}
