* {
  font-family: Avenir;
  font-weight: lighter;
}

body {
  background-color: #474747;
}

h2 {
  text-align: center;
  padding-bottom: 1em;
  font-weight: normal;
}

label {
  font-weight: lighter;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
}

form {
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 555px) {
  form {
    margin-right: 0;
    margin-left: 0;
  }
}

/* LOGIN PAGES & CREATE OFFER PAGE */

.barName{
  font-size: 1.5em;
}

.listItem{
  color: white;
}

.button {
  width: 100%;
  margin-top: 1em;
  background-color: #76EEC6;
  border-color: #76EEC6;
  color: #474747;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.button:hover {
  background-color: #76EEC6;
}

.form-control {
  margin-bottom: 1em;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.wrapper {
  left: 0;
  right: 0;
  position: absolute;
  top: 0;
  margin-bottom: 15%;
  height: 85%;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  padding: 2em;
  color: #fff;
}


/* Navbar styling*/

nav {
  z-index: 1000;
}

.navbar {
  border-radius: 0;
  margin: 0;
  min-height: 25px;
}

.navbar-brand {
  padding: 0;
  height: 25px;
  font-size: medium;
  margin: 0.5em;
}

.navButton {
  color: red;
}
