* {
  font-family: Avenir;
  font-weight: lighter;
}

body {
  background-color: #474747;
}

p {
  text-align: center;
}

h2 {
  text-align: center;
  padding-bottom: 1em;
  font-weight: normal;
}

label {
  font-weight: lighter;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
}

form {
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 555px) {
  form {
    margin-right: 0;
    margin-left: 0;
  }
}

/* LIVE OFFERS PAGE*/

.live-offers-wrapper{
  padding-bottom: 4em;
}

select {
  background-color: #fff;
  color: #474747;
  margin-right: 1em;
}

/* LOGIN PAGES & CREATE OFFER PAGE */

.endTime {
  margin-bottom: 1em;
}

.barName{
  font-size: 1.5em;
}

.listItem{
  color: white;
}

.button {
  width: 100%;
  margin-top: 1em;
  background-color: #76EEC6;
  border-color: #76EEC6;
  color: #474747;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.button:hover {
  background-color: #76EEC6;
}

.form-control {
  margin-bottom: 1em;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.wrapper {
  left: 0;
  right: 0;
  position: absolute;
  top: 0;
  margin-top: 15%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  padding: 2em;
  color: #fff;
}

/* LIVE OFFERS PAGE */

li {
  list-style-type: none;
  text-align: center;
}

.show-code-button {
  background-color: #76EEC6;
  border-color: #76EEC6;
  color: #474747;
}

.line {
  width: 85%;
}

.info {
  padding-top: 0.5em;
}

.offer-footer{
  width: 100%;
  background-color: rgb(192, 192, 192);
  padding-top: 0.5em;
}

.code {
  display: none;
}

.noLiveOffers {
  color: #fff;
}

.loading {
  color: #fff;
  text-align: center;
  padding-top: 3em;
}

.map {
  margin-top: 0.5em;
  color: #fff;

}

/* HAVA LOGO IN NAV BAR */

.havaLogo {
  margin-top: 2em;
  height: 5em;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.navbar {
  border-radius: 0;
  margin: 0;
  min-height: 25px;
}

/* FOOTER */

.navbar-brand {
  text-shadow: none;
  color: #a4a4a4;
  margin-top: 1em;
  padding-top: 2em;
  font-size: medium;
  padding-right: 2em;
}

.site-footer {
  position: fixed;
  bottom: 0;
  right: 0;
}

/* CONTACT PAGE */

.rowSocial {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.icon{
  height:4em;
  padding-left: 1em;
  padding-right: 0.5em;
}

.contact-wrapper {
  left: 0;
  right: 0;
  position: absolute;
  top: 0;
  height: 85%;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  padding: 2em;
  color: #fff;
}
